// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html, p, ul, li, h1, h2, h3, h4, div {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  background-color: #CBCBCB;
}

#todo_list {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 4px black;
  padding: 30px;
  ul {
    text-decoration: none;
    list-style: none;
  }
  h1 {

  }
}


.wrapper {
  margin: 200px;
}
